n8n/workflow_2_threat_surveillance.json
{
  "name": "EKA Workflow 2 \u2014 Autonomous Threat Surveillance + Eval Drift Monitor",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 4
            }
          ]
        }
      },
      "id": "8bb8a48c-e27a-4df1-a221-4be872460aba",
      "name": "1. Schedule Trigger (every 4h)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -3408,
        0
      ]
    },
    {
      "parameters": {
        "url": "={{ $env.FASTAPI_BASE_URL }}/corpus/deltas",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.API_KEY }}"
            }
          ]
        },
        "options": {
          "timeout": 15000
        }
      },
      "id": "0feac291-61bb-4052-81b3-09eb1ffa9899",
      "name": "2. Load Corpus Deltas",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -3200,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// Security signal scanner \u2014 pattern match on new corpus content\nconst items = $input.all();\nconst signals = [];\nconst patterns = {\n  cve: /CVE-\\d{4}-\\d{4,7}/gi,\n  vuln_keywords: /\\b(vulnerability|exploit|RCE|buffer overflow|injection|bypass|0-day|zero-day)\\b/gi,\n  incident_keywords: /\\b(incident|breach|compromise|unauthorized access|exfiltration)\\b/gi,\n  ot_keywords: /\\b(SCADA|PLC|HMI|ICS|OT network|CAN bus|ECU)\\b/gi\n};\nfor (const item of items) {\n  const content = JSON.stringify(item.json);\n  const found = {};\n  for (const [key, pattern] of Object.entries(patterns)) {\n    const matches = content.match(pattern);\n    if (matches) found[key] = [...new Set(matches)];\n  }\n  if (Object.keys(found).length > 0) {\n    signals.push({ doc_id: item.json.doc_id, signals: found, content_excerpt: content.slice(0, 500) });\n  }\n}\nreturn signals.length > 0 ? signals.map(s => ({ json: s })) : [{ json: { _no_signals: true } }];"
      },
      "id": "7dc0367c-65a1-4a2b-9eab-f9b96fce686a",
      "name": "3. Security Signal Scanner",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3008,
        0
      ]
    },
    {
      "parameters": {
        "url": "=https://services.nvd.nist.gov/rest/json/cves/2.0?cveId={{ ($json.signals && $json.signals.cve && $json.signals.cve[0]) || 'CVE-2024-0001' }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "4d6eea79-4a75-4c71-a3ff-e626e5ef4d53",
      "name": "4. NVD CVE Lookup (External Tool)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2800,
        0
      ]
    },
    {
      "parameters": {
        "url": "https://www.cisa.gov/cybersecurity-advisories/ics-advisories.xml",
        "options": {
          "timeout": 10000
        }
      },
      "id": "2f76adeb-1630-4b23-978e-cb829b85d1a0",
      "name": "5. CISA ICS-CERT Fetch (External Tool)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2608,
        0
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {}
          ]
        },
        "options": {}
      },
      "id": "a24329dd-36ae-4fe1-b0b8-b84bbf521629",
      "name": "6. Severity Classifier (LLM)",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.6,
      "position": [
        -2400,
        -208
      ],
      "credentials": {
        "openAiApi": {
          "id": "kZzGqqRxNP5Y5o3M",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {}
          ]
        },
        "options": {}
      },
      "id": "ba91dbc0-01e9-40b3-acf6-2d220d9cc056",
      "name": "7. ATT&CK for ICS Mapper",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.6,
      "position": [
        -2384,
        240
      ],
      "credentials": {
        "openAiApi": {
          "id": "kZzGqqRxNP5Y5o3M",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {}
          ]
        },
        "options": {}
      },
      "id": "7873e342-89b4-46c9-b748-8102a0e8e361",
      "name": "8. Gap Detector",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.6,
      "position": [
        -1984,
        -208
      ],
      "credentials": {
        "openAiApi": {
          "id": "kZzGqqRxNP5Y5o3M",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {}
          ]
        },
        "options": {}
      },
      "id": "7b99cea3-d28f-4658-9a0b-4b751cd6382e",
      "name": "9. Compliance Impact Assessor",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.6,
      "position": [
        -1968,
        256
      ],
      "credentials": {
        "openAiApi": {
          "id": "kZzGqqRxNP5Y5o3M",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.FASTAPI_BASE_URL }}/eval/golden-rescore",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {
          "timeout": 120000
        }
      },
      "id": "10e4a2b1-b510-49ff-a3d0-4d3016c7dc1b",
      "name": "10. Eval-Drift Monitor (Golden Dataset Re-score)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1600,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "is-critical",
              "leftValue": "={{ $json.severity }}",
              "rightValue": "CRITICAL",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "68e3934b-5168-42c7-bd69-96f9c1ff790a",
      "name": "11. Alert Router (severity-based)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1408,
        0
      ]
    },
    {
      "parameters": {
        "sendTo": "=",
        "subject": "\ud83d\udea8 CRITICAL Threat Detected \u2014 EKA Surveillance",
        "message": "=Severity: {{ $json.severity }}\nTechniques: {{ JSON.stringify($json.techniques) }}\nGaps: {{ JSON.stringify($json.gaps) }}\nCompliance Impact: {{ JSON.stringify($json.iso_21434_impact) }}\nTrace ID: {{ $json._trace_id }}",
        "options": {}
      },
      "id": "02de45fd-ab58-4507-a465-7ce85b80985f",
      "name": "12. Email/Slack Alert (CRITICAL only)",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -1200,
        -80
      ],
      "webhookId": "c6c7907e-6980-4a06-a371-3d156250e8c2",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "{{ $env.FASTAPI_BASE_URL }}/audit/write",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"workflow\": \"surveillance\",\n  \"timestamp\": \"{{ $now.toISO() }}\",\n  \"severity\": \"{{ $('6. Severity Classifier (LLM)').first().json.severity || 'unknown' }}\",\n  \"techniques\": {{ JSON.stringify($('7. ATT&CK for ICS Mapper').first().json.techniques || []) }},\n  \"gaps\": {{ JSON.stringify($('8. Gap Detector').first().json.gaps || []) }},\n  \"compliance_impact\": {{ JSON.stringify($('9. Compliance Impact Assessor').first().json || {}) }}\n}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "bc5b2cdd-05eb-44e8-8db9-9f5efa953f47",
      "name": "13. Audit Log Writer (append-only)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1200,
        176
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.FASTAPI_BASE_URL }}/observability/metrics",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"run_id\": \"{{ $('1. Schedule Trigger (every 4h)').first().json.timestamp || $now.toISO() }}\",\n  \"workflow\": \"surveillance\",\n  \"severity_distribution\": {{ JSON.stringify({severity: $('6. Severity Classifier (LLM)').first().json.severity || 'unknown'}) }},\n  \"timestamp\": \"{{ $now.toISO() }}\"\n}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "71fef8b2-853c-442c-8058-c1745fe8aeb3",
      "name": "14. Observability Metrics Push",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1008,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// Archive node \u2014 write summary to long-term storage\nconst archive = {\n  run_id: $execution.id,\n  timestamp: new Date().toISOString(),\n  workflow: 'threat-surveillance',\n  signals_processed: $input.all().length,\n  payload: $input.all().map(i => i.json)\n};\n// In production: ship to S3/object storage with versioning\nreturn [{ json: { archived: true, run_id: archive.run_id, summary: archive } }];"
      },
      "id": "9b86afda-40e5-48ec-af74-80bd2446f673",
      "name": "15. Archive Node (long-term storage)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -800,
        0
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "1. Schedule Trigger (every 4h)": {
      "main": [
        [
          {
            "node": "2. Load Corpus Deltas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2. Load Corpus Deltas": {
      "main": [
        [
          {
            "node": "3. Security Signal Scanner",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3. Security Signal Scanner": {
      "main": [
        [
          {
            "node": "4. NVD CVE Lookup (External Tool)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "4. NVD CVE Lookup (External Tool)": {
      "main": [
        [
          {
            "node": "5. CISA ICS-CERT Fetch (External Tool)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "5. CISA ICS-CERT Fetch (External Tool)": {
      "main": [
        [
          {
            "node": "6. Severity Classifier (LLM)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "6. Severity Classifier (LLM)": {
      "main": [
        [
          {
            "node": "7. ATT&CK for ICS Mapper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "7. ATT&CK for ICS Mapper": {
      "main": [
        [
          {
            "node": "8. Gap Detector",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "8. Gap Detector": {
      "main": [
        [
          {
            "node": "9. Compliance Impact Assessor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "9. Compliance Impact Assessor": {
      "main": [
        [
          {
            "node": "10. Eval-Drift Monitor (Golden Dataset Re-score)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "10. Eval-Drift Monitor (Golden Dataset Re-score)": {
      "main": [
        [
          {
            "node": "11. Alert Router (severity-based)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "11. Alert Router (severity-based)": {
      "main": [
        [
          {
            "node": "12. Email/Slack Alert (CRITICAL only)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "13. Audit Log Writer (append-only)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "12. Email/Slack Alert (CRITICAL only)": {
      "main": [
        [
          {
            "node": "14. Observability Metrics Push",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "13. Audit Log Writer (append-only)": {
      "main": [
        [
          {
            "node": "14. Observability Metrics Push",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "14. Observability Metrics Push": {
      "main": [
        [
          {
            "node": "15. Archive Node (long-term storage)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "e7d3c6e7-f9bb-4155-8e1c-0d64d3862bbb",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "35af61cdb10af63706b8451b1603885f61fa5f7c5839f5f0bddf787166bda6f7"
  },
  "id": "xSZ6Z7YFiSgk44nm",
  "tags": [
    {
      "updatedAt": "2026-05-11T08:50:55.795Z",
      "createdAt": "2026-05-11T08:50:55.795Z",
      "id": "fKI1D1kcVzKi3ye0",
      "name": "eval-drift-monitor"
    },
    {
      "updatedAt": "2026-05-11T08:46:28.677Z",
      "createdAt": "2026-05-11T08:46:28.677Z",
      "id": "iq96Gr2PLUhOLqzo",
      "name": "cybersecurity-hardened"
    },
    {
      "updatedAt": "2026-05-11T08:50:55.820Z",
      "createdAt": "2026-05-11T08:50:55.820Z",
      "id": "jsF00MgT2lMRrcVw",
      "name": "threat-surveillance"
    },
    {
      "updatedAt": "2026-05-11T08:46:28.723Z",
      "createdAt": "2026-05-11T08:46:28.723Z",
      "id": "pJA7taw6PDrv9ZWo",
      "name": "agentic-ai"
    }
  ]
}