n8n/workflow_1_research_pipeline.json
{
  "name": "EKA Workflow 1 \u2014 Enterprise Research Pipeline",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "enterprise-research",
        "responseMode": "responseNode",
        "options": {
          "rawBody": true
        }
      },
      "id": "7c9f897f-79e0-4a13-9c16-fdbfcea0b604",
      "name": "1. Webhook \u2014 Inbound Query",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        -1728,
        96
      ],
      "webhookId": "eka-research-pipeline"
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('crypto');\n\nconst webhookNode = $('1. Webhook \u2014 Inbound Query').first();\n\n// n8n captures the raw POST body as a base64 binary at .binary.data.data\nconst rawBody = webhookNode.binary && webhookNode.binary.data\n  ? Buffer.from(webhookNode.binary.data.data, 'base64').toString('utf-8')\n  : JSON.stringify(webhookNode.json.body || webhookNode.json || {});\n\n// Get signature header (n8n preserves header casing under .headers)\nconst headers = webhookNode.json.headers || {};\nconst signature = headers['x-signature'] || headers['X-Signature'] || '';\n\nconst secret = \"{{ $env.N8N_WEBHOOK_SECRET }}\";\nconst expected = crypto.createHmac('sha256', secret).update(rawBody).digest('hex');\n\nif (!signature || signature !== expected) {\n  throw new Error(`HMAC verification failed \u2014 request rejected. Expected ${expected.slice(0,8)}..., got ${(signature || 'NONE').slice(0,8)}...`);\n}\n\n// Pass parsed body forward\nconst parsedBody = JSON.parse(rawBody);\nreturn [{\n  json: {\n    ...parsedBody,\n    _verified: true,\n    _trace_id: crypto.randomUUID()\n  }\n}];"
      },
      "id": "4bee2a49-bf9a-4cef-8074-a616a24c90cd",
      "name": "2. HMAC Verify",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1504,
        96
      ]
    },
    {
      "parameters": {
        "jsCode": "// API key validation\nconst apiKey = $input.first().json.api_key || '';\nconst validKey = '{{ $env.API_KEY }}';\nif (!apiKey || apiKey !== validKey) {\n  throw new Error('Invalid API key');\n}\nreturn $input.all();"
      },
      "id": "e3036078-8627-4b87-9d78-5b11f7af4db4",
      "name": "3. API Key Auth",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1280,
        96
      ]
    },
    {
      "parameters": {
        "jsCode": "// API key validation \u2014 reads from the webhook's original payload regardless of upstream transforms\nconst webhookPayload = $('1. Webhook \u2014 Inbound Query').first().json.body || $('1. Webhook \u2014 Inbound Query').first().json || {};\nconst apiKey = webhookPayload.api_key || '';\nconst validKey = \"{{ $env.API_KEY }}\";\nif (!apiKey || apiKey !== validKey) {\n  throw new Error('Invalid API key');\n}\nreturn $input.all();"
      },
      "id": "3ac5e8e4-7b3f-41a4-90ed-62c0daabe8ef",
      "name": "4. Rate Limiter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1056,
        96
      ]
    },
    {
      "parameters": {
        "jsCode": "// Prompt-injection filter \u2014 pattern library\nconst patterns = [\n  /ignore\\s+(all\\s+)?previous\\s+instructions/i,\n  /disregard\\s+(the\\s+)?system\\s+prompt/i,\n  /you\\s+are\\s+now\\s+a\\s+different/i,\n  /reveal\\s+your\\s+(system\\s+)?prompt/i,\n  /\\bDAN\\b|\\bjailbreak\\b/i,\n  /<\\s*\\|\\s*im_start\\s*\\|\\s*>/i,\n  /act\\s+as\\s+(if\\s+)?(you|the)\\s+(have|had)\\s+no/i\n];\nconst query = String($input.first().json.query || '');\nfor (const p of patterns) {\n  if (p.test(query)) {\n    throw new Error('Prompt injection detected \u2014 query rejected');\n  }\n}\nif (query.length > 2000) throw new Error('Query exceeds 2000 char limit');\nreturn $input.all();"
      },
      "id": "a37c99cd-7d61-483f-b130-b4363ac17680",
      "name": "5. Prompt-Injection Filter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -832,
        96
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {}
          ]
        },
        "options": {}
      },
      "id": "7ad10ab4-c73f-42f5-b6d7-44fb0b6793be",
      "name": "6. Query Classifier (LLM)",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.6,
      "position": [
        -608,
        96
      ],
      "credentials": {
        "openAiApi": {
          "id": "kZzGqqRxNP5Y5o3M",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "id": "b8910c47-ed36-404a-a1d9-ee4ceed9036e",
      "name": "7. Parallel Split",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -256,
        96
      ],
      "notes": "Branches: RAG retrieve, NVD CVE call, CISA advisory call run in parallel"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.FASTAPI_BASE_URL }}/retrieve",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Trace-Id",
              "value": "={{ $json._trace_id }}"
            },
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"query\": \"{{ $('1. Webhook \u2014 Inbound Query').first().json.body.query }}\",\n  \"role\": \"{{ $('1. Webhook \u2014 Inbound Query').first().json.body.role || 'ANALYST' }}\",\n  \"top_k\": 5\n}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "807a7b4a-5994-47b7-98ef-065083c336ff",
      "name": "8. RAG Retrieve (Internal Corpus)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -32,
        -96
      ]
    },
    {
      "parameters": {
        "url": "=https://services.nvd.nist.gov/rest/json/cves/2.0?keywordSearch={{ encodeURIComponent($json.query) }}&resultsPerPage=10",
        "options": {
          "timeout": 10000
        }
      },
      "id": "8737932b-e85b-41bd-9a14-f2d881100af5",
      "name": "9. NIST NVD CVE Lookup (External Tool)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -32,
        96
      ]
    },
    {
      "parameters": {
        "url": "https://www.cisa.gov/cybersecurity-advisories/ics-advisories.xml",
        "options": {
          "timeout": 10000
        }
      },
      "id": "f25e8d00-5b73-4455-816a-eb3e5e7d4f31",
      "name": "10. CISA ICS-CERT Feed (External Tool)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -32,
        288
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "id": "060dc9fb-352a-4971-a38a-bf000d2386bf",
      "name": "11. Merge Retrieval Results",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        192,
        0
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {}
          ]
        },
        "options": {}
      },
      "id": "5ae99ae7-e940-4bd4-b3c3-6adf1c46e385",
      "name": "12. MITRE ATT&CK Mapper",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.6,
      "position": [
        416,
        0
      ],
      "credentials": {
        "openAiApi": {
          "id": "kZzGqqRxNP5Y5o3M",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {}
          ]
        },
        "options": {}
      },
      "id": "d329938d-5b22-437d-83f0-61dfb309d94e",
      "name": "13. Compliance Mapper",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.6,
      "position": [
        768,
        0
      ],
      "credentials": {
        "openAiApi": {
          "id": "kZzGqqRxNP5Y5o3M",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "messages": {
          "values": [
            {}
          ]
        },
        "options": {}
      },
      "id": "7402f620-db7b-49b5-9ee4-fba4ce2c4a73",
      "name": "14. Synthesizer (LLM w/ Tools)",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.6,
      "position": [
        1120,
        0
      ],
      "credentials": {
        "openAiApi": {
          "id": "kZzGqqRxNP5Y5o3M",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "messages": {
          "values": [
            {}
          ]
        },
        "options": {}
      },
      "id": "49fb7b30-8e18-4fc0-a3e4-3ed87ecccd4b",
      "name": "15. LLM-as-Judge Evaluator",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.6,
      "position": [
        1472,
        0
      ],
      "credentials": {
        "openAiApi": {
          "id": "kZzGqqRxNP5Y5o3M",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "verdict-pass",
              "leftValue": "={{ $json.verdict }}",
              "rightValue": "PASS",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "57964f2f-4d6a-40cc-a4ab-00651d5affec",
      "name": "16. Conditional Router (PASS / FAIL \u2192 Human Queue)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1824,
        0
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "1. Webhook \u2014 Inbound Query": {
      "main": [
        [
          {
            "node": "2. HMAC Verify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2. HMAC Verify": {
      "main": [
        [
          {
            "node": "3. API Key Auth",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3. API Key Auth": {
      "main": [
        [
          {
            "node": "4. Rate Limiter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "4. Rate Limiter": {
      "main": [
        [
          {
            "node": "5. Prompt-Injection Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "5. Prompt-Injection Filter": {
      "main": [
        [
          {
            "node": "6. Query Classifier (LLM)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "6. Query Classifier (LLM)": {
      "main": [
        [
          {
            "node": "7. Parallel Split",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "7. Parallel Split": {
      "main": [
        [
          {
            "node": "8. RAG Retrieve (Internal Corpus)",
            "type": "main",
            "index": 0
          },
          {
            "node": "9. NIST NVD CVE Lookup (External Tool)",
            "type": "main",
            "index": 0
          },
          {
            "node": "10. CISA ICS-CERT Feed (External Tool)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "8. RAG Retrieve (Internal Corpus)": {
      "main": [
        [
          {
            "node": "11. Merge Retrieval Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "9. NIST NVD CVE Lookup (External Tool)": {
      "main": [
        [
          {
            "node": "11. Merge Retrieval Results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "11. Merge Retrieval Results": {
      "main": [
        [
          {
            "node": "12. MITRE ATT&CK Mapper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "12. MITRE ATT&CK Mapper": {
      "main": [
        [
          {
            "node": "13. Compliance Mapper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "13. Compliance Mapper": {
      "main": [
        [
          {
            "node": "14. Synthesizer (LLM w/ Tools)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "14. Synthesizer (LLM w/ Tools)": {
      "main": [
        [
          {
            "node": "15. LLM-as-Judge Evaluator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "15. LLM-as-Judge Evaluator": {
      "main": [
        [
          {
            "node": "16. Conditional Router (PASS / FAIL \u2192 Human Queue)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "b5bd99bd-f1f7-467c-bf20-3817bcac5661",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "35af61cdb10af63706b8451b1603885f61fa5f7c5839f5f0bddf787166bda6f7"
  },
  "id": "zsYW6680fKuh4ylG",
  "tags": [
    {
      "updatedAt": "2026-05-11T08:46:28.751Z",
      "createdAt": "2026-05-11T08:46:28.751Z",
      "id": "9WnKQpWNZfpwL1Ys",
      "name": "research-pipeline"
    },
    {
      "updatedAt": "2026-05-11T08:46:28.677Z",
      "createdAt": "2026-05-11T08:46:28.677Z",
      "id": "iq96Gr2PLUhOLqzo",
      "name": "cybersecurity-hardened"
    },
    {
      "updatedAt": "2026-05-11T08:46:28.723Z",
      "createdAt": "2026-05-11T08:46:28.723Z",
      "id": "pJA7taw6PDrv9ZWo",
      "name": "agentic-ai"
    }
  ]
}